/icp/results

*result/
# Build artifacts
build/
devel/ # If using Catkin (even if you're not now, good for general ROS projects)
install/ # If using Catkin
data/
# CMake build files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.cbp # CodeBlocks
*.xcodeproj/ # Xcode
*.sln # Visual Studio
*.suo
*.user
*.vcxproj*

# Compiled binaries and libraries
*.o
*.so
*.a
*.lo
*.la
*.dll
*.exe
*.pcd
*.bag
.cache
# Eclipse/VSCode/IDE specific files
.vscode/ # VSCode settings
.cproject
.project
.settings/
.directory

# ROS specific 
log/
rosout.log
.ros/

# Python compiled files (if you have any Python scripts in your repo)
*.pyc
__pycache__/

# Output directories
results/

# results/output_aligned_clouds/
# results/output_target_clouds/
# results/odometry_poses.txt

# Editor backup files
*~ # Vim, Emacs backup files
#*# # Emacs lock files
.#* # Emacs auto-save files